.logo {
  display: flex;
  align-items: center;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;

  letter-spacing: 0.78px;

  width: fit-content;
}

.logo__web {
  color: var(--main-blue-color);
}

.logo__studio--black {
  color: #000;
}

.logo__studio--white {
  color: #fff;
}
