.hero__container {
  display: flex;
  justify-content: center;
}

.hero {
  padding: 200px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/hero/hero_image.jpg"), var(--background-black-color);

  background-repeat: no-repeat;
  background-size: 100%, cover, 100%;
  background-position: center 35%;

  width: 1600px;

  &__title {
    margin: 0 0 30px;

    font-size: 44px;
    font-weight: 900;

    line-height: 60px;
    letter-spacing: 2.64px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;

    width: 696px;
  }

  &__button {
    padding: 10px 24px;

    font-size: 16px;
    font-weight: 700;

    line-height: 30px;
    letter-spacing: 0.96px;

    color: #fff;
    background-color: var(--main-blue-color);

    border: 2px solid var(--main-blue-color);
    border-radius: 4px;

    transition: border 250ms var(--cubic-bezier-easing),
      background-color 250ms var(--cubic-bezier-easing),
      color 250ms var(--cubic-bezier-easing);
  }

  &__button:focus,
  &__button:hover {
    border: 2px solid var(--main-blue-color);
    background-color: #fff;
    color: var(--main-blue-color);
  }
}
