.nav {
  display: flex;
  gap: 93px;

  &__item {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;

    letter-spacing: 0.28px;

    color: var(--text-black-color);

    transition: color 250ms var(--cubic-bezier-easing);
  }

  &__link:focus,
  &__link:hover {
    color: var(--main-blue-color);
  }
}
