.logo {
  display: flex;
  align-items: center;
  width: 145px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  text-decoration: none;
  color: unset;
}

.logo__web {
  color: var(--color-light-blue);
}

.logo__studio {
  color: rgba(0, 0, 0, 1);
}

.logo__studio--footer {
  color: rgba(255, 255, 255, 1);
}
